*{
    box-sizing: border-box;
  }
  
  body{
      color: black;
      background-color: rgb(46, 46, 143);
      font-family: 'Montserrat', sans-serif;
  }
  
  header{
    margin: 5px 0px;
    padding: 0%;
    height: fit-content;
    text-align: center;
    color: white;
    background-color: rgb(63, 63, 155);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    border-radius:7px;
}
  
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  text-align: left;
}
.sidebar a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
}
.sidebar a:hover {
color: black;
background-color: #f1f1f1;
border-radius: 8px;
transition-duration: 0.5s;
}

.main{
  text-align: center;
  margin-top: 5px;
  margin-left: 160px;
  padding: 3px 10px;
  background-color:white;
  border-radius: 5px;
}

#admindash{
  font-size: 20px;
}
#admindash i{
  padding: 0 15px;
}
#header3{
  font-size: 25px; 
  text-align: center;
}

/*bookings*/
.bookings{
  text-align: center;
  border-radius: 6px;
  background-color: rgb(194, 212, 226);
  margin-bottom: 50px;
  height: 15vh;
}
.bookings h3{
  padding: 5px 15px;
}
.row{
  display: flex;
}
.column{
  flex: 55%;
  padding: 0 5px;
}

.bookings a{
  margin: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  color: #312f2f;
  background-color: whitesmoke;
}
.bookings a:hover{
  padding: 0 5px;
  color: whitesmoke;
  background-color: #818181;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.5s;
}

/*room*/

.rooms{
  text-align: center;
  border-radius: 6px;
  background-color: rgb(194, 212, 226);
  height: 15vh;
  margin-bottom: 50px;
}
.rooms h3{
  padding: 5px 15px;
}

.rooms a{
  margin: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  color: #312f2f;
  background-color: whitesmoke;
}
.rooms a:hover{
  padding: 0 5px;
  color: whitesmoke;
  background-color: #818181;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.5s;
}

/*staffs*/

.staffs{
  text-align: center;
  border-radius: 6px;
  background-color: rgb(194, 212, 226);
  height: 15vh;
  margin-bottom: 50px;
  
}
.staffs h3{
  padding: 5px 15px;
}

.staffs a{
  margin: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  color: #312f2f;
  background-color: whitesmoke;
}
.staffs a:hover{
  padding: 0 5px;
  color: whitesmoke;
  background-color: #818181;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.5s;
}
