/*staff pages*/

.staffs{
	text-align: center;
  border-radius: 6px;
  background-color: rgb(194, 212, 226);
}

.addstaffs{
  text-align: left;
}

.staffsbtn{
margin: 50px;

}

.staffsbtn input{
margin : 20px;
}